<a href="https://colab.research.google.com/github/mariaskab/project_01/blob/main/task_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Создание БД
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE Students (
  Student_Id INTERGER NOT NULL PRIMARY KEY,
  Student_Name TEXT NOT NULL,
  School_Id INTEGER NOT NULL
  );
  """
cursor.execute(query)
connection.commit()
connection.close()

OperationalError: ignored

In [11]:
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO (Student_Id, Student_Name, School_Id)
VALEUS
('201', 'Иван', '1'),
('202', 'Петр', '2'),
('203', 'Анастасия', '3'),
('204', 'Игорь', '4');
"""
cursor.execute(query)
connection.commit()
connection.close()

OperationalError: ignored

In [12]:
import sqlite3
def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection
  
def close_connection(connection)
  if connection:
    connection.close()
    
def get_school_detail(school_id): 
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(select_query,(school_id))
    records = cursor.fetchall()
    print("Данные по школе")
    for row in records:
      print ("ID школы: ", row[0])
      print ("Название школы:" row[1])
    close_connection(connection)
  except (Exception, sqlite3.Error) as error:
    print ("Ошибка в получении данных", error)

def get_student_detail(student_id):
  try:
     connection = get_connection()
     cursor = connection.cursor()
     cursor.execute(select_query,(student_id,))
     record = cursor.fetchall()
     print ("Данные по студентам")
     for row in records:
       print ("ID Студента: ", row[0])
       print ("Имя студента: ", row[1])
       print ("ID школы: ", row[2])
       print ( "Название школы: ", row[3])
  except (Exception, sqlite3.Error) as error:
    print ("Ошибка в получении данных", error)

SyntaxError: ignored